* {
    font-family: 'Courier New', Courier, monospace;
}

/* All of the css styling for the navbar */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(223, 223, 201);
    height: 4rem;

    ul {
        background-color: rgb(166, 162, 136);
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            height: 100%;
            width: 100%;
            
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.nav > * {
    text-align: center;
    width: 30%;
    margin: 0;
}

/* page preview stuffs*/

.page_preview {
    background-color: rgb(255, 248, 233);
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    li {
        width: 20%;

        background-color: rgb(221, 210, 178);
        display: flex;
        flex-direction: column;

        h2, a, p, time {
            margin: 0.5rem;
        }

        img {
            background-color: white;
            width: 100%;
            height: 15rem;
            object-fit: cover;
        }
    }
}

/* employee page stuff */

.employee_page {
    background-color: rgb(255, 248, 233);
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
        width: 20%;

        background-color: rgb(221, 210, 178);
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        h2, a, p, time {
            margin: 0.5rem;
        }

        img {
            width: 100%;
            height: 15rem;
            flex: 1;
            background-color: white;
            object-fit: cover;
        }
    }
}