.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
}